<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <link rel="icon" type="image/png" href="/static/img.png"/>
    <meta property="og:image:type" content="image/png">
    <meta property="og:image" content="/static/img.png">
    {% block head%}
    <title>{% block title %}Did I Ship Today?{% endblock %}</title>
    <meta name="description" content="The site that some how found a way to be shipped">
    {% endblock %}
    <link rel="stylesheet" href="/static/bootstrap/dist/css/bootstrap.min.css">
    {% block css %}
    {% endblock %}
</head>
<body>
{% block content %}

<div class="container text-center">
    <h1>Did I Ship Today?</h1>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <button type="button" class="btn btn-block btn-primary">YES</button>
            </div>
            <div class="col-sm-6">
                <button type="button" class="btn btn-block btn-primary">NO</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block scripts %}
<script type="text/javascript" src="/static/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/static/bootstrap/dist/js/bootstrap.min.js"></script>
{% endblock %}
</body>
</html>
